<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TRAE SOLO CN</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>Electron</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TRAE SOLO CN HelpBook</string>
	<key>CFBundleHelpBookName</key>
	<string>TRAE SOLO CN HelpBook</string>
	<key>CFBundleIconFile</key>
	<string>TRAE SOLO CN.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cn.trae.solo.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TRAE SOLO CN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.51</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>TRAE SOLO CN</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>solo-cn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.51</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>24A336</string>
	<key>DTSDKName</key>
	<string>macosx15.0</string>
	<key>DTXcode</key>
	<string>1600</string>
	<key>DTXcodeBuild</key>
	<string>16A242d</string>
	<key>ElectronAsarIntegrity</key>
	<dict>
		<key>Resources/default_app.asar</key>
		<dict>
			<key>algorithm</key>
			<string>SHA256</string>
			<key>hash</key>
			<string>f352937c8af21283733259e67bc35c9d02befbd8d3dafcf7558da067849e6dbd</string>
		</dict>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>An application in TRAE SOLO CN wants to use AppleScript.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs access to Bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs access to Bluetooth</string>
	<key>NSCameraUsageDescription</key>
	<string>An application in TRAE SOLO CN wants to use the Camera.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2026 Beijing Yinli Catapult Technology Co., Ltd. All rights reserved</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>An application in TRAE SOLO CN wants to use the Microphone.</string>
	<key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>AtomApplication</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
